services:
  nextjs:
    build:
      context: ./UI
      dockerfile: Dockerfile
    container_name: nextjs
    restart: always
    env_file:
      - ./UI/.env
    ports:
      - "3000:3000"
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./UI/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/archive/agronexis.com/fullchain2.pem:/etc/nginx/certs/fullchain.pem:ro
      - /etc/letsencrypt/archive/agronexis.com/privkey2.pem:/etc/nginx/certs/privkey.pem:ro
    depends_on:
      - nextjs
    networks:
      - webnet

networks:
  webnet:
