services:
  nextjs:
    build:
      context: ./UI
      dockerfile: Dockerfile
    container_name: nextjs
    restart: always
    env_file:
      - ./UI/.env
    ports:
      - "3000:3000"
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./UI/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nextjs
    networks:
      - webnet

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh -c "trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew --webroot -w /var/www/certbot --deploy-hook 'docker exec nginx nginx -s reload'; done"


networks:
  webnet:
