.imageAnimate {
  animation: fadePulse 5s ease-in-out infinite;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}
