name: Deploy to Hostinger VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            cd /var/www/agronexis || git clone git@github.com:shubhamGrey/DesiKing.git /var/www/agronexis
            cd /var/www/agronexis
            git pull origin main
            cd UI
            npm install
            npm run build
            pm2 restart agronexis || pm2 start npm --name agronexis -- start
            pm2 save
