name: Deploy AgroNexis

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies and build/export
        run: |
          cd UI
          npm install
          npm run build

      - name: Upload /UI/out folder to Hostinger via FTP
        env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        run: |
          sudo apt-get update && sudo apt-get install lftp -y
          lftp -c "
            open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST;
            mirror -R ./UI/out/ public_html/ --parallel=10 --delete --verbose
          "
